*{
    margin: 0;
    padding: 0;
}

body {
    background: repeating-linear-gradient(to bottom, #5de0e6 0%, #004aad 100%);
    min-height: 100vh;
}

body, button {
    font-family: Bubblegum Sans;
}


/* NAVIGATION BAR */
/* Style the navigation menu */

nav {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    padding: 0.6rem 2rem;
    background-color: #E2E0CE;
    border-radius: 16px;
    margin: 1rem;
}
.nav-burger-section {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.menu-list{
    display: none;
}
.burger-button input {
    display: none;
}
.burger-button {
    background-image: url('images/icons/burger-menu.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 2rem;
    height: 2rem;
}
.burger-button:hover {
    transform: scale(0.9);
}

nav a {
    color: rgb(90, 21, 21);
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 1rem;
    display: block;
}
nav a:hover {
    background-color: #203ea0;
    color: black;
}

.active {
    color: white;
}

ul {
    display: flex;
    list-style: none;
}

a {
    font-size: 2rem;
}

li a {
    text-decoration: none;
    padding: 16px;
}

li a:hover {
    background-color: #004aad;
    color: #5de0e6;
    border-radius: 10px;
}


/* END OF NAVIGATION BAR */



/* Content */
 
  h1 {
      text-align: center;
      font-size: 70px;
      color: aliceblue;
  }
  
  button {
      background: none;
      border-style: none;
      font-size: 50px;
      color: aliceblue;
  }
  
  div {
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  footer {
      position: absolute;
      bottom: 0;
      padding: 10px;
  }
  
  .fenetre-style p {
      font-size: 24px;
  }
  
  .fenetre-style {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background-color: #5DE0E6;
      border: none;
      border-radius: 10px;
      padding: 20px;
      margin: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      width: 50%;
      height: 150%;
      margin: 0 auto;
      text-align: center;
  }
  
  .fenetre-style button {
      margin-bottom: 10px;
      width: 200px;
      height: 60px;
      font-size: 18px;
      background-color: #D988B9;
      border-radius: 10px;
      box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.776);
  }
  
  .fenetre-style input[type="text"] {
      background-color: #D2E0FB;
      width: 300px;
      height: 40px;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 5px;
      display: block;
  }
  
  .form {
      display: flex;
      border: none;
  }
  
   .input {
        background-color: #BEFFF7;
        border-style: none;
        border-radius: 8px;
    }
    
    #message {
        width: 200px;
        height: 200px;
        resize: vertical;
    }
    
    .taille-film {
        height: 270px;
        width: 198px;
        border-radius: 10px;
        padding: 10px;
        margin: 10px;
    
    }
    
    .contacts {
        display: flex;
        flex-direction: column;
    }
    
    .mailTo {}
  