body {

    background: repeating-linear-gradient(to bottom, #5de0e6 0%, #004aad 100%);
    min-height: 100vh;
}

body,
button {
    font-family: Bubblegum Sans;
}

.logo{
    width:130px;
    height: auto;
}

nav {
    display: flex;
    justify-content:space-between;
    background-color: #E2E0CE;
    border-radius: 16px;
}

nav a {
    display: flex;
    color: black;
}


ul{
    display: flex;
    padding: 16px;
    list-style: none;
}

li a {
    text-decoration: none;
    padding: 16px;

}

li a:hover {
    background-color: #004aad;
    color: #5de0e6;
    border-radius: 10px;
}

button {
    background: none;
    border-style: none;
    font-size: 50px;
    color: aliceblue;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
}

footer {
    position: absolute;
    bottom: 0;
    padding: 10px;
    }
}