* {
    margin: 0;
    padding: 0;
}

/* Style de base pour le corps du document */
body {
    font-family: Arial, sans-serif;
    background-color: #3651aa;
}

/* Style de la barre de navigation */
nav {
    background-color: #333;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav a {
    text-decoration: none;
    color: white;
}

/* Style de la section de contenu */
.content {
    padding: 20px;
}

.section {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

/* Style du pied de page */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Style du logo */
.logo img {
    max-width: 100px;
    height: auto;
}

/* Style du formulaire */
form {
    margin-top: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* Style des boutons */
button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}

/* Style des liens d'images */
.section a {
    display: inline-block;
    margin-right: 10px;
}

/* Style du pied de page */
footer p {
    margin: 0;
}
